html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-control {
    background-color: #F5F5F5;
    color: #27229C;
}

.form-control:focus {
    color: #27229C;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #F5F5F5 inset !important;
    -webkit-text-fill-color: #27229C !important;
}


.address {
    background: rgba(39, 34, 156, 0.15);
    border-radius: 50px;
    padding: 25px;
}

