@model TechCompilerCo.Models.FornecedoresViewModel

@{
    ViewData["Title"] = "Cadastro";
}

<div class="row">
    <div class="col-md-6">
        <span><b>SUA</b></span><br />
        <span><b>MECÂNICA</b></span>
    </div>

    <div class="col-md-6" style="text-align: right; font-size: 20px">
        <span><b>Cadastro de Fornecedores</b></span>
    </div>
</div>

<br />
<br />
<br />

@using (Html.BeginForm("Create", "Fornecedores", new { Area = "" }, FormMethod.Post, true, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <partial name="_Form.cshtml" />

    <br />
    
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-sm btn-primary pull-right" style="margin-left: 5px"><i class="fa fa-check"></i> Salvar</button>
            <a href="@Url.Action("Index", "Fornecedores")" class="btn btn-sm btn-danger pull-right"><i class="fa fa-door-open"></i> Cancelar</a>
        </div>
    </div>
}