@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Página Restrita";
}

<p>Você não tem permissão para acessar essa funcionalidade. <a href="@Url.Action("Index", "Login")">Clique aqui para voltar para a Home.</a></p>