@model TechCompilerCo.Models.AlterarSenhaViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Alterar Senha";
}

<form action="@Url.Action("Alterar", "AlterarSenha")" class="form-horizontal" method="post" novalidate="novalidate">
    <input asp-for="CodigoUsuario" type="hidden" />

    <div class="row">
        <div class="row">
            <span class="col-md-4"></span>

            <div class="col-md-4">
                <label class="form-label">Senha Atual</label>
                <input asp-for="SenhaAtual" type="password" maxlength="50" class="form-control" />
            </div>
        </div>

        <div class="row">
            <span class="col-md-4"></span>

            <div class="col-md-4">
                <label class="form-label">Nova Senha</label>
                <input asp-for="SenhaNova" type="password" maxlength="15" class="form-control" />
            </div>
        </div>

        <div class="row">
            <span class="col-md-4"></span>

            <div class="col-md-4">
                <label class="form-label">Confirme a Nova Senha</label>
                <input asp-for="SenhaConfirmada" type="password" maxlength="15" class="form-control" />
            </div>                        
        </div>

        <div class="row">
            <span class="col-md-4"></span>

            <div class="col-md-4">
                Senha precisa ter:
                <ul>
                    <li>Ao menos 1 número;</li>
                    <li>Ao menos 1 letra maiúscula;</li>
                    <li>Ao menos 1 letra minúscula;</li>
                    <li>Ao menos 1 caracter especial;</li>
                    <li>De 8 a 15 caracteres.</li>
                </ul>
            </div>            
        </div>

        <div class="row">
            <div class="col-md-8">
                <br />
                <button type="submit" class="btn btn-sm btn-primary pull-right" style="border-radius: 8px">Salvar</button>
                <a href="@Url.Action("Index", "Home")" class="btn btn-sm btn-danger pull-right" style="border-radius: 8px; margin-right: 5px">Voltar</a>
            </div>
        </div>
    </div>
</form>