@model TechCompilerCo.Models.FuncionariosViewModel

<div class="row">
    <div class="col-md-6">
        @if (Model.ModoEdit)
        {
            <div class="col-md-12">
                <div class="col-md-6">
                    <label class="form-label">Código Funcionário</label>
                    <input asp-for="IdFuncionario" class="form-control" readonly />
                </div>

                <div class="col-md-6">
                    <label class="form-label">Data de Cadastro</label>
                    <input asp-for="DataCadastro" value="@Model.StrDataCadastro" type="date" class="form-control" readonly />
                </div>
            </div>
        }

        <div class="col-md-12">
            <label class="form-label">Nome</label>
            <input asp-for="Nome" class="form-control" />
        </div>

        <div class="col-md-12">
            <label class="form-label">Email</label>
            <input asp-for="Email" type="email" class="form-control" />
        </div>

        <div class="col-md-6">
            <label class="form-label">Data Nascimento</label>
            <input asp-for="DataNascimento" value="@Model.StrDataNascimento" type="date" class="form-control" />
        </div>

        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Telefone</label>
                <input asp-for="Telefone" class="form-control" />
            </div>

            <div class="col-md-6">
                <label class="form-label">Cpf</label>
                <input asp-for="Cpf" class="form-control" />
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="col-md-6">
            <label class="form-label">Cep</label>
            <input asp-for="Cep" class="form-control" />
        </div>

        <div class="col-md-12">
            <label class="form-label">Endereço</label>
            <input asp-for="Endereco" class="form-control" />
        </div>

        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Nº</label>
                <input asp-for="Numero" min="0" class="form-control" />
            </div>

            <div class="col-md-6">
                <label class="form-label">Complemento</label>
                <input asp-for="Complemento" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Bairro</label>
                <input asp-for="Bairro" class="form-control" />
            </div>

            <div class="col-md-6">
                <label class="form-label">Cidade</label>
                <input asp-for="Cidade" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Estado</label>
                <input asp-for="Estado" class="form-control" />
            </div>

            <div class="col-md-6">
                <label class="form-label">Pais</label>
                <input asp-for="Pais" class="form-control" />
            </div>
        </div>
    </div>
</div>