@model TechCompilerCo.Models.FuncionariosViewModel

<div class="row">
    <div class="col-md-6">
        @if (Model.ModoEdit)
        {
            <div class="col-md-12">
                <div class="col-md-6">
                    <label class="form-label">Código Funcionário</label>
                    <input asp-for="CodigoFuncionario" class="form-control" readonly />
                </div>

                <div class="col-md-6">
                    <label class="form-label">Data de Cadastro</label>
                    <input asp-for="DataInclusao" type="date" class="form-control" readonly />
                </div>
            </div>
        }

        <div class="col-md-12">
            <label class="form-label">Nome</label>
            <input asp-for="NomeFuncionario" maxlength="100" class="form-control" />
        </div>

        <div class="col-md-6">
            <label class="form-label">Data Nascimento</label>
            <input asp-for="DataNascimento" type="date" class="form-control" />
        </div>

        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Telefone</label>
                <input asp-for="Telefone1" class="form-control" />
            </div>

            <div class="col-md-6">
                <label class="form-label">Cpf</label>
                <input asp-for="Cpf" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Sexo</label>
                <select asp-for="Sexo" class="form-control">
                    <option value="F">F</option>
                    <option value="M">M</option>
                    <option value="O">O</option>
                </select>
            </div>

            <div class="col-md-6">
                <label class="form-label">Cargo</label>
                <input asp-for="Cargo" class="form-control" />
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Cep</label>
                <input asp-for="Cep" class="form-control" />
            </div>

            <div class="col-md-4">
                <a class="btn btn-sm btn-primary" onclick="buscarCep()">Localizar Cep</a>
            </div>
        </div>

        <div class="col-md-12">
            <label class="form-label">Endereço</label>
            <input asp-for="Endereco" class="form-control" />
        </div>

        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Nº</label>
                <input asp-for="Numero" min="0" class="form-control" />
            </div>

            <div class="col-md-6">
                <label class="form-label">Complemento</label>
                <input asp-for="Complemento" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Bairro</label>
                <input asp-for="Bairro" class="form-control" />
            </div>

            <div class="col-md-6">
                <label class="form-label">Cidade</label>
                <input asp-for="Cidade" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Estado</label>
                <input asp-for="Uf" class="form-control" />
            </div>

            <div class="col-md-6">
                <label class="form-label">Pais</label>
                <input asp-for="Pais" class="form-control" />
            </div>
        </div>
    </div>
</div>