@model TechCompilerCo.Models.ContasPagarViewModel

<input asp-for="CodigoUsuario" type="hidden" />

<div class="row">
    <div class="col-md-6">
        @if (Model.ModoEdit)
        {
            <div class="row">
                <div class="col-md-6">
                    <label class="form-label">Código Conta</label>
                    <input asp-for="CodigoCpa" class="form-control" readonly />
                </div>

                <div class="col-md-6">
                    <label class="form-label">Data de Cadastro</label>
                    <input asp-for="DataInclusao" type="date" class="form-control" readonly />
                </div>
            </div>
        }        

        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Número Documento</label>
                <input asp-for="NumeroDocumento" maxlength="20" class="form-control" required />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Data Vencimento</label>
                <input asp-for="DataVencimento" type="date" class="form-control" required />
            </div>

            <div class="col-md-6">
                <label class="form-label">Data Pagamento</label>
                <input asp-for="DataPagamento" type="date" class="form-control" />
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <label class="form-label">Descrição Serviço</label>
                <input asp-for="ServicoCobrado" maxlength="200" class="form-control" required  />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Preço</label>
                <input asp-for="Valor" type="number" min="0" step=".01" class="form-control" required />
            </div>

            <div class="col-md-6">
                <label class="form-label">Fornecedor</label>
                <select asp-for="CodigoFornecedor" asp-items="@Model.FornecedoresSelect" class="form-control" required></select>
            </div>
        </div>
    </div>
</div>